<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechanics Page</title>

    <!-- <link href="../../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../public/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../../public/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../../public/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../../public/vendor/simple-datatables/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/style1.css"> -->


    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">  
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor" rel="stylesheet">
  <link href="/vendor" rel="stylesheet">
  <link href="/css/style1.css", rel="stylesheet" >
</head>

<body class="order">
    <!-- <video class="video-set" src="../../public/images/vid.mp4" autoplay loop muted plays-inline></video> -->
    <video class="video-set" src="/images/mech.mp4" autoplay loop muted plays-inline></video>
    <nav
    class="navbar navbar-expand-lg"
    style="background-color: rgba(15, 119, 145, 0.7)"
  >
    <a class="navbar-brand" href="/admin">ADMIN</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/admin">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/orders">Appointments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/service">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mechanic">Mechanics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/customers">Customers</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/infopage">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log out</a>
        </li>
      </ul>
    </div>
  </nav>
      <div class="col-lg-8">
                <section class="section dashboard">
                    <div id="glass1" class="mt-4">
                        <h1 class="text-white">MECHANICS</h1>
                        <div class="container mt-3 text-white">
                            <h2 class="text-white">Add New Mechanic</h2>
                            <form action="/add-mechanic" method="post">
                                <div class="mb-3">
                                    <label for="mechanicName" class="form-label text-white">Mechanic Name:</label>
                                    <input type="text" class="form-control" id="mechanicName" name="mechanicName"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="serviceName" class="form-label">Service Name:</label>
                                    <input type="text" class="form-control" id="serviceName" name="serviceName">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Availability:</label>
                                    <div>
                                        <input type="radio" id="available" name="availability" value="true" checked>
                                        <label for="available">Available</label><br>
                                        <input type="radio" id="notAvailable" name="availability" value="false">
                                        <label for="notAvailable">Not Available</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-secondary">Add Mechanic</button>
                            </form>
                        </div>
                    </div>


                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th>Mechanic ID</th>
                                <th>Mechanic Name</th>
                                <th>Service Type</th>
                                <th>Availability</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% mechanic.forEach((mechanic)=> { %>
                                <tr>
                                    <td>
                                        <%= mechanic.m_id %>
                                    </td>
                                    <td>
                                        <%= mechanic.m_name %>
                                    </td>
                                    <td>
                                        <%= mechanic.m_role %>
                                    </td>
                                    <td>
                                        <%= mechanic.m_availability ? 'Yes' : 'No' %>
                                    </td>
                                    <td>

                                        <form action="/mechanics/drop/<%= mechanic.mechanic_id %>" method="post">
                                            <button type="submit" class="btn btn-danger">Drop</button>
                                        </form>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</body>

</html>
